**1. Assign the string 'This is a test of the emergency text system' to the variable test1, and write test1 to a file called test.txt.**

In [14]:
test1='This is a test of the emergency text system'

with open('test.txt','w') as file:
    file.write(test1)


**2. Open the file test.txt and read its contents into the string test2. Are test1 and test2 the same?**

In [15]:
with open('test.txt') as file2:
    test2=file2.read()
print(test2)

This is a test of the emergency text system

In [16]:
test1==test2

True

Yes both are same



**3. Save these text lines to a file called books.csv. Notice that if the fields are separated by commas, you need to surround a field with quotes if it contains a comma.**

**author,book**

**J R R Tolkien,The Hobbit**

**Lynne Truss,"Eats, Shoots & Leaves"**

In [40]:
text='''author,book
J R R Tolkien,The Hobbit
Lynne Truss,"Eats, Shoots & Leaves"'''
with open('book.csv','wt') as file3:
    r=file3.write(text)
print(r)

72



**4. Use the csv module and its DictReader method to read books.csv to the variable books. Print the values in books. Did DictReader handle the quotes and commas in the second book’s title?**

In [41]:
import csv

with open('book.csv','rt') as file4:
    books=csv.DictReader(file4)
    for i in books:
        print(dict(i))

{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

Yes  DictReader handle the quotes and commas in the second book’s title


**5. Create a CSV file called books.csv by using these lines:**

**title,author,year**

**The Weirdstone of Brisingamen,Alan Garner,1960**

**Perdido Street Station,China Miéville,2000**

**Thud!,Terry Pratchett,2005**

**The Spellman Files,Lisa Lutz,2007**

**Small Gods,Terry Pratchett,1992**

In [6]:
texts='''title, author, year
The Weirdstone of Brisingamen, Alan Garner, 1960
Perdido Street Station, China Mieville, 2000
Thud !, Terry Pratchett, 2005
The Spellmen Files, Lisa Lutz, 2007
Small Gods, Terry Pratchett, 1992
'''

with open('books.csv','wt') as file5:
    file5.write(texts)


**6. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).**

In [35]:
import sqlite3

db = sqlite3.connect ('books.db') #data base name is 'books'
curs = db.cursor ()
curs.execute('''create table book (title text, author text, year int)''') #Table name is 'book'
db.commit()
db.close()


**7. Read books.csv and insert its data into the book table.**

In [55]:
import csv

db=sqlite3.connect('books.db')
cursor=db.cursor()
query ='insert into book values(?,?,?)'
with open('books.csv','rt') as r:
    x=csv.DictReader(r)
    for i in x:
        cursor.execute(query,(i['title'],i[' author'],i[' year']))
db.commit()

In [56]:
db.close()


**8. Select and print the title column from the book table in alphabetical order.**

In [57]:
db=sqlite3.connect('books.db')
cursor=db.cursor()

query='select title from book order by title asc'

for i in cursor.execute(query):
    print(i[0])

Perdido Street Station
Small Gods
The Spellmen Files
The Weirdstone of Brisingamen
Thud !


**9. Select and print all columns from the book table in order of publication.**

In [60]:
db=sqlite3.connect('books.db')
cursor=db.cursor()

query='select author from book order by author asc'

for i in cursor.execute(query):
    print(i[0])
    
db.close()

 Alan Garner
 China Mieville
 Lisa Lutz
 Terry Pratchett
 Terry Pratchett



**10. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6. As in 8, select and print the title column from the book table in alphabetical order.**

In [64]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\shivansh jayara\anaconda3\lib\site-packages (1.3.23)

In [68]:
import sqlalchemy

conn=sqlalchemy.create_engine('sqlite:///books.db')
query='select title from book order by title asc'
records=conn.execute(query)
for i in records:
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellmen Files',)
('The Weirdstone of Brisingamen',)
('Thud !',)

**11. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.**

**12. Increment the count field of test and print it.**